.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    transition: .5s;
}

.checkoutProduct:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.65);
}

.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}