.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.carousel{
    width: 100%;
    margin-bottom: -180px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home_image{
    margin-bottom: -150px;
    z-index: -1;
}

.flickity-page-dots{
    display: none;
}


.flickity-button{
    background: transparent;
    width: 50px;
    height: 50px;
    margin-top: -100px;
    color: gray;
}

.flickity-button:hover{
    background-color: transparent;
}
 

.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
